<mat-toolbar style="height: 10vh">
  <form [formGroup]="filterBy" class="filter-form">
    <mat-form-field appearance="outline" class="small-field">
      <mat-label>Filter by CPF/CNPJ</mat-label>
      <input matInput formControlName="identificationDoc" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="small-field">
      <mat-label>Filter by Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </form>
</mat-toolbar>
<app-list-container
  [itemsPage$]="supplierPage$"
  [pageEvent]="pageEvent"
  (refresh)="refresh($event)"
>
  <!-- list -->
  <app-table-list
    [data]="(supplierPage$ | async)?.suppliers || []"
    [displayedColumns]="displayerColumns"
    (edit)="onEdit($event)"
    (remove)="onRemove($event)"
    (add)="onAdd()"
  ></app-table-list>
</app-list-container>
